@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  --fill-blue-primary: #3576d9;
  --fill-blue-secondary: #387de5;
  --fill-red-primary: #ff9191;
  --fill-red-secondary: #e26161;
  --stage-text: 'Planning';
}

@keyframes chatBubble {
  0% {
    bottom: 36.5%;
    left: 0.4%;
    --stage-text: 'Planning';
  }

  14.29% {
    bottom: 30.5%;
    left: 14%;
    --fill-current-primary: var(--fill-blue-primary);
    --fill-current-secondary: var(--fill-blue-secondary);
    --stage-text: 'Planning';
  }

  28.57% {
    bottom: 30%;
    left: 81%;
    --fill-current-primary: var(--fill-red-primary);
    --fill-current-secondary: var(--fill-red-secondary);
    --stage-text: 'Analysis';
  }

  42.86% {
    bottom: 56%;
    left: 88%;
    --fill-current-primary: var(--fill-blue-primary);
    --fill-current-secondary: var(--fill-blue-secondary);
  }

  57.14% {
    bottom: 95%;
    left: 60.4%;
    --fill-current-primary: var(--fill-blue-primary);
    --fill-current-secondary: var(--fill-blue-secondary);
    --stage-text: 'Developing';
  }

  71.43% {
    bottom: 103%;
    left: 41.6%;
    --fill-current-primary: var(--fill-red-primary);
    --fill-current-secondary: var(--fill-red-secondary);
  }
  85.71% {
    bottom: 82%;
    left: 5.5%;
    --fill-current-primary: var(--fill-blue-primary);
    --fill-current-secondary: var(--fill-blue-secondary);
    --stage-text: 'Testing';
  }
  100% {
    bottom: 36.5%;
    left: 0.4%;
    --stage-text: 'Delivery';
  }
}

.nav-item {
  @apply text-lg font-normal text-grey hover:text-primary alternate:text-white;
}
.nav-btn {
  @apply rounded border-2 border-primary px-5 pt-1 text-lg font-semibold text-primary alternate:border-white alternate:text-white;
}

summary {
  @apply list-none;
}

.carousel {
  @apply flex snap-x snap-mandatory overflow-hidden overflow-x-scroll scroll-smooth px-2 scrollbar-hide;

  &-item {
    @apply box-content snap-start scroll-mx-3;
  }
}

.border-underline {
  @apply before:absolute before:-bottom-4 before:left-1/2 before:w-40 before:-translate-x-1/2 before:border-b-2  before:content-['_'];
}

span.chat-bubble {
  --fill-current-primary: var(--fill-red-primary);
  --fill-current-secondary: var(--fill-red-secondary);
  @apply absolute scale-[.74] md:scale-100;
  bottom: 36.5%;
  left: 0.4%;
}

.fill-primary {
  fill: var(--fill-current-primary);
}

.fill-secondary {
  fill: var(--fill-current-secondary);
}

.animate-chat-bubble {
  animation: chatBubble 15000ms infinite;
}

#stage-text {
  @apply invisible absolute -bottom-4 lg:-bottom-10 left-1/2 w-0 after:visible after:absolute after:top-0 after:right-0 after:translate-x-1/2 after:text-xl after:font-medium after:text-primary after:content-[var(--stage-text)] md:after:text-3xl xl:after:text-4xl;

  // &:after {
  //   content: var(--stage-text);
  // }
}
